<clr-datagrid id="my-datagrid">
  <clr-dg-column>User ID</clr-dg-column>
  <clr-dg-column [clrDgField]="'color'">
    Color
    <clr-dg-filter [clrDgFilter]="colorFilter2">
      <color-filter2 #colorFilter2></color-filter2>
    </clr-dg-filter>
  </clr-dg-column>

  <!-- <clr-dg-column>
    Status
    <clr-dg-filter [clrDgFilter]="customStatusFilter">
      <clr-radio-container>
        <clr-radio-wrapper>
          <input
            type="radio"
            clrRadio
            name="status"
            value="disc"
            (click)="toggleStatusSelection('Disc')"
          />
          <label>Disc</label>
        </clr-radio-wrapper>
        <clr-radio-wrapper>
          <input
            type="radio"
            clrRadio
            name="status"
            value="exp"
            (click)="toggleStatusSelection('Exp')"
          />
          <label>Exp</label>
        </clr-radio-wrapper>
        <clr-radio-wrapper>
          <input
            type="radio"
            clrRadio
            name="status"
            value="exp"
            (click)="toggleStatusSelection('')"
          />
          <label>Clear</label>
        </clr-radio-wrapper>
      </clr-radio-container>
    </clr-dg-filter>
  </clr-dg-column> -->

  <clr-dg-column>
    Status2
    <clr-dg-filter [clrDgFilter]="customStatusFilter">
      <bottom-comp
        #statusFilter
        (status)="toggleStatusSelection($event)"
      ></bottom-comp>
    </clr-dg-filter>
  </clr-dg-column>

  <clr-dg-row *clrDgItems="let user of users">
    <clr-dg-cell>{{ user.id }}</clr-dg-cell>
    <clr-dg-cell>{{ user.color }}</clr-dg-cell>
    <!-- <clr-dg-cell>{{ user.status }}</clr-dg-cell> -->
    <clr-dg-cell>{{ user.status }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>{{ users.length }} users</clr-dg-footer>
</clr-datagrid>
